<launch>

 	<node pkg="tf"
    	type="static_transform_publisher"
    	name="base_link_to_gps"
    	args="-0.35 -0.255 0.385 0 0 0 /base_link  /gps_link 10"
	/>

	<node pkg="tf"
    	type="static_transform_publisher"
    	name="base_link_to_laser"
    	args="0.41 0 0.065 0 0 0 /base_link  /laser 10"
	/>

	<node pkg="tf"
    	type="static_transform_publisher"
    	name="base_link_to_zed"
    	args="0.295 0 0.18 0 0 0 /base_link  /zed_camera_center 10"
	/>

	<node pkg="tf"
    	type="static_transform_publisher"
    	name="base_link_to_imu"
    	args="0 0 0 0 0 0 /base_link  /imu_link 10"
	/>

</launch>